---
tags: articles
layout: layout.html

pagination:
    data: articles
    size: 1
    alias: article
permalink: "article/{{ article.title | slug }}/"
---

<h2>{{ article.title }} </h2>

<p>{{ article.abstract }}</p>

